.reserve_container {
	margin-bottom: 30px;
}

.reserve_body {
	background-color: white;
	width: 50%;
	border-radius: 3px;
	padding: 5px 5px;
	margin-bottom: 5px;
}

.to_reserve_check_detail {
	background: #228bc8;
	border: 1px solid #228bc8;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	height: 50px;
	position: relative;
	border-radius: 30px;
	box-sizing: border-box;
	font-size: 16px;
	letter-spacing: 0.1em;
	line-height: 1.3;
	text-align: left;
	text-decoration: none;
	transition-duration: 0.3s;
}

.to_reserve_check_detail:hover {
	background: #fff;
	border: 1px solid #228bc8;
	color: #228bc8;
}

.reserve_wrapper {
	display: flex;
}

.reserve_wrapper * {
	width: 50%;
}