<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>予約画面</title>
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/top.css}" rel="stylesheet" type="text/css">
</head>

<body>
	<header>
		<a th:href="@{/}" class="header_title"><img th:src="@{images/Reserve.png}" id="header_logo"></a>
	</header>
	<!--	<div class="carousel_container">-->
	<!--		<div class="carousel">-->
	<!--			<div class="slide show">-->
	<!--				<img th:src="@{images/カルーセル1.webp}" alt="オシャレなカフェの画像1">-->
	<!--			</div>-->
	<!--			<div class="slide">-->
	<!--				<img th:src="@{images/カルーセル2.webp}" alt="オシャレなカフェの画像2">-->
	<!--			</div>-->
	<!--			<div class="slide">-->
	<!--				<img th:src="@{images/カルーセル3.jpg}" alt="オシャレなカフェの画像3">-->
	<!--			</div>-->
	<!--			<div class="indicator">-->
	<!--				<button class="indicator_button"></button>-->
	<!--				<button class="indicator_button"></button>-->
	<!--				<button class="indicator_button"></button>-->
	<!--			</div>-->
	<!--		</div>-->
	<!--	</div>-->
	<h1 class="header_pagename">トップ画面</h1>
	<div class="container">
		<article class="top_article">
			<h2 class="top_article_title">Let's Happy Lunch Time!</h2>
			<p class="top_article_phrase">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
				sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
				laborum.</p>
		</article>
		<div class="btn_container_top">
			<form action="/reserve">
				<section class="btn_section">
					<button class="btn_for_movement top_reserve_btn" id="top_reserve_btn" type="submit">予約する</button>
				</section>
			</form>
			<form action="/reserve_check">
				<section class="btn_section">
					<button class="btn_for_movement top_reserve_btn" id="top_reserve_btn" type="submit">予約を確認する</button>
				</section>
			</form>
		</div>
	</div>
	<footer>
		<small class="copy_right" th:text="${small}"></small>
	</footer>
	<script th:src="@{/js/carouselJs.js}"></script>
</body>

</html>